@charset "UTF-08";

:root{
    --cor_food1: #ff0000;
    --cor_food2: #fcfc93;
    --cor_food3: #045604;
    --cor_food4: #000000;
    --cor_food5: #00008b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}


body,
main {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #d7eb9e;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    align-items: center;
    justify-content: center;

}


h1 {
    font-size: 1.9em;
    color: #58331c;

}

canvas {
    background-image: url(./campo_fundo.jpg);
    align-items: center;
    border: 5px solid #261B14;
}
/* esse estilo é para o botão */
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    color: #D9BBA0;

}
/* esse estilo é para o botão de resetar o jogo */
.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}
/* .score--value serve para modificar botão de resetar o jogo */
.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
/* .mene-screen serve para modificar o menu */
.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    color: #5f2300;
}

.final-score {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor_font);
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor_font);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background-color: #594336;
}

footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d7eb9e;
    color: var(--cor_font);
    min-width: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

/*
*
*/